extends ../_shared/master

block content
    .jumbotron
        != messages('../messages/message', locals)
        if errors
            each error, i in errors
                div(class="alert alert-danger") #{error}
        form.form-row(action="/user/login", method="post")
            div.col
                input.form-control(type='text', name='username')
            div.col
                input.form-control(type='password', name='password')
            div.col
                input(type="submit", value="Log in")
