extends ../_shared/master

block content
    if errors
        each error, i in errors
            div(class="alert alert-danger") #{error}
    form.form-row.register(action="/user/register", method="post")
        div.col
            label(for="userName")
                | User Name:
            input#userName.form-control(type='text', name='userName', placeholder='User Name')
        div.col
            label(for="password")
                | Password:
            input#password.form-control(type='password', name='password', placeholder='Password')
        div.col
            label(for="avatar")
                | Avatar Url:
            input#avatar(type="url", name="avatar")
        div.col
            input(type="submit", value="Register")