include ./nav
include ./header
include ./navBottom

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css")
        link(rel="stylesheet", href="/static/styles/main.css")
        link(rel='icon', href="https://pbs.twimg.com/profile_images/624586699423612928/sWvLOJXY_400x400.jpg")
        link(href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js")
        script(src="/static/js/dynamic.comments.js")
        title Readit App
        //- script(src="https://code.jquery.com/jquery-3.3.1.js")
        //- script(src="/static/js/dynamic-power.js")
        block head_scripts
    body
        +nav()
        +header()
        //- +navBottom()
    //- .container
        //- != messages('../messages/message', locals)
        //- +bottomNav()
    .container
        .jumbotron
            block content
            //- +footer()
