mixin nav()
    nav.navbar.navbar-inverse.justify-content-between
        .container-fluid
            .navbar-header
                a.navbar-brand(href='/') Readit
            ul.nav.navbar-nav
                if subreadits
                    each subreadit in subreadits
                        li
                            a(href="/r/" + subreadit.dataValues.name )
                                | #{subreadit.dataValues.name}
            ul.nav.navbar-nav.navbar-right
                if user
                    li
                        a(href="/user/" + user.userName) #{user.userName}
                    li
                        a(href="/user/logout") Log-out
                else
                    li
                        a(href="/user/login") Log-in
                    li
                        a(href="/user/register") Register
