mixin nav()
    nav
        ul
            li
                a(href="/home")
                    | Home
            li
                a(href="/cat")
                    | Cat
            li
                a(href="/dog")
                    | Dog
            li
                a(href="/avengers")
                    | Avengers