mixin nav()
    nav
        ul
            li
                a(href="/home")
                    | Home
            li
<<<<<<< HEAD
                a(href="/cat")
                    | Cat
            li
                a(href="/dog")
                    | Dog
            li
                a(href="/avengers")
=======
                a(href="/home/Cats")
                    | Cats
            li
                a(href="/home/Dogs")
                    | Dogs
            li
                a(href="/home/Avengers")
>>>>>>> 83fcb3a4cb115eb68890173547ab2c3ab0b7ed07
                    | Avengers