mixin nav()
    nav
        ul
            li
                a(href="/home")
                    | Home
            li
                a(href="/home/Cat")
                    | Cat
            li
                a(href="/home/Dog")
                    | Dog
            li
                a(href="/home/Avengers")
                    | Avengers