mixin nav()
    nav.main-nav
        ul
            li
                a(href="/home")
                    | Home
            li
                a(href="/home/Cats")
                    | Cat
            li
                a(href="/home/Dogs")
                    | Dog
            li
                a(href="/home/Avengers")
                    | Avengers