mixin navBottom()
    nav.main-nav
        ul
            li
                a(href="/home/all/new")
                    | New
            li
                a(href="/home/all/old")
                    | old
            li
                a(href="/home/all/hotest")
                    | hotest
            li
                a(href="/home/all/coldest")
                    | coldest
