extends ../_shared/master

block content

    p
        form(action="/delete/" + subreaditName + "/post/comment/" + commentsInfo.id, method="post")
            div
            textarea.textarea(name="content", cols="50", rows="5")= commentsInfo.content
            div
                button.btn.btn-danger(type="submit")
                    | Delete this comment!