extends ./_shared/master

block content 
    
    ul
        each post in listCategory
            li
                a(href="http:/content/"+ post.id)
                    p
                        img(src=post.image)
                    p
<<<<<<< HEAD
                        =post.name

    //- h1
    //-     | This is #{name}
=======
                        =post
>>>>>>> 83fcb3a4cb115eb68890173547ab2c3ab0b7ed07
