extends ./_shared/master

block content 
    
    ul
        each post in listCategory
            li
                a(href="http:/content/"+ post.id)
                    p
                        img(src=post.image)
                    p
                        =post.name