extends ./_shared/master

block content
    ul
        each post in postsLists
            li
                a(href="/content/"+ post.id)
                    p
                        img(src=post.image)
                    p
                        =post.name

    p
        a(href="/create/post/")
            | Create
