extends ./_shared/master

block content
    ul
        each post in postsLists.posts
            li 
                img(src=post.image)
                =post.userName
                a(href='/r/' + post.subreaditName + '/post/' + post.id) #{post.name}
                a(href='/r/' + post.subreaditName) #{post.subreaditName}
                =post.commentsCount

