* {
    box-sizing: border-box;
    font-family: 'Volkhov', serif;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}
.jumbotron {
    margin-top: 5px;
}

.notfound {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 500px;
    width: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.main-nav ul {
    text-align: center;
    background-color: rgba(77, 2, 2, 0.7);
    border-radius: 10px;
}

.main-nav li {
    display: inline-block;
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.7);
}

.main-nav li:hover {
    background-color:  rgba(77, 2, 2, 1);
}

.main-nav li:first-of-type {
    border: 0;
}

.main-nav a {
    display: inline-block;
    padding: 0px 15px;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav a:hover {
    color: rgba(255, 255, 255, 1);
}

img.header {
    max-height: 100%;
    max-width: 100%;
    height: 250px;
    width: 100%;
    margin-bottom: -20px;
}
.main-nav ul li  {
    text-align: center;
    margin-bottom: 20px;
}

body > nav.navbar.navbar-inverse {
    margin-bottom: 0px;
    background-color: rgb(77, 2, 2);
}

/* login/register forms */

.login, .register {
    max-width: 100%;
    width: 350px;
    padding: 10px 20px;
}

.login input, .register input {
    margin: 10px 5px;
}

label.tags {
    margin-right: 5px;
}

/* Posts display on pages css */

.thumbnail {
    width: 95px;
    height: 95px;
    text-align: center;
    background-color: whitesmoke;
    float: left;
    margin-bottom: 2px;
    margin-right: 5px;
}
.thumbnail img {
    width: auto;
    height: 100%;
    max-height: 80px;
    margin-top: 2%;
    display: inline-block;
    vertical-align: middle;  
}
.innerPostContainer {
    border: 1px solid rgb(248, 227, 227);
    margin: 2px 5px;
    vertical-align: middle;
}

.postContainer {
    border: 1px solid rgb(248, 227, 227);
    transition: all 0.4s ease-in-out;
}

.postContainer:hover {
    transform: scale(1.1);
}

p.title {
    font-size: 2.5em;
    
}

p.tagline {
    font-size: 0.8em;
}

/* post page display */

h2.media-heading {
    font-size: 3em;
    font-weight: bolder;
    color: salmon;
}
img.media-object.postImage {
    max-height: 100%;
    max-width: auto;
    height: 150px;
    width: 150px;
}

img.smallAvatar {
    max-height: 100%;
    max-width: auto;
    height: 20px;
    width: 20px;
}

img.mediumAvatar {
    max-height: 100%;
    max-width: auto;
    height: 50px;
    width: 50px;
}

div.media-body p {
    border: 1px solid rgb(235, 168, 168);
    border-radius: 10px;
    margin: 2px 5px;
    padding: 3px 3px;
    color: salmon;
}

div.media-body span {
    color: tan;
}

hr {
    height: 12px;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin: 50px 0 5px 0;
}

.tags ul li, ul {
    display: inline;
    color: tan;
}

.media-body.commentBody p {
    font-size: 1.1em;
    border: none;
    padding-left: 15px;
}

.media-body.commentBody p.commentCreatedAt {
    font-size: 0.7em;
    color: tan;
}

a.media-heading.commentUser {
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 5px;
}

.media-body.commentBody {
    border: 1px solid black;
    border-radius: 10px;
}